"""Client Feature Configuration"""
FEATURES = {
    "base_commands": True,
    "permission_system": True,
    "moderation": {MODERATION_ENABLED},
    "custom_commands": {CUSTOM_COMMANDS_ENABLED},
    "limits": {
        "max_custom_commands": {MAX_CUSTOM_COMMANDS},
    }
}
